*{
	margin:0;
	padding:0;
}

html,body{
	height:100%;
	width:100%;
}

body{
}

header{
	height:90px;
	display: flex;
	align-items: center;
	width:100%;
	justify-content: flex-end;
	position:fixed;
}

header>div{
	margin:4px 16px;
	font-size: 20px;
	font-family: "Rubik";
	font-weight: 500;
	color:#555;
}

header>div:hover{
	color:#333;
}

section{
	display: none;
	flex-direction: column;
	opacity: 0;
	padding-top:50px;
	height:90%;
	padding-left:50px;
	transition: .5s ease;
	justify-content: center;
}

h1{
	font-size:50px;
	font-family: "Lato";
	font-weight: 700;
	color:#333;
}

p{
	padding-left:0.2%;
	font-size:16px;
	font-family: "Rubik";
	font-weight: 500;
	color:#555;
}


.work-elements{
	display:flex;
	align-items: center;
	padding:8px;
	margin:35px 0px;
}

.flex-col{
	flex-direction: column;
}

.flex{
	display: flex;
}

.flex-align-center{
	align-items: center;
}

.flex-justify-center{
	justify-content: center;
}




.accent{
	color:#ff8282;
}

.content{
	padding:16px 0;
	width:80%;
	height:100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.content h1{
	font-size:50px;
	font-family: "Lato";
	font-weight: 700;
	color:#333;
}

.content p {
	padding-left:0.2%;
	font-size:16px;
	font-family: "Rubik";
	font-weight: 500;
	color:#555;
}

.active-btn{
	color:#333;
	border-bottom:2px solid #333;
}

.name{
	font-family: "Rubik";
	font-weight: 400;
	margin-left:50px;
	margin-right: auto;
	font-size:30px;
	color:#333;
}

.active{
	opacity:1;
}

.display-flex{
	display: flex;
}


.header{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.header>h1{
	font-size:100px;
}

.icons-skills{
	color:#555;
	font-size:50px;
}

.icons-skills >i {
	margin: 0 16px;
}

.image-icon{
	height:100px;
	width:100px;
}
